    <script type="text/javascript" src="${staticUrl}javascripts/underscore.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/backbone.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/jqtpl-min.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/models.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/events.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/views.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/filters.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/preview.js"></script>
    <script type="text/javascript" src="${staticUrl}javascripts/chart.js"></script>