<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Query Builder Assistant</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Query Builder Assistant</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt
    malesuada massa sed tempor. Mauris vehicula viverra vulputate. In non tempus
    tortor. Vivamus sed massa at nibh rhoncus condimentum. Nam dolor metus, bibendum
    eget ullamcorper vitae, consectetur ut risus. Aenean in mi et odio adipiscing
    varius vel adipiscing est. Vivamus pulvinar hendrerit dui, at consequat libero
    rutrum quis. Etiam porttitor molestie eros in volutpat. Phasellus pellentesque
    ullamcorper nisl, vitae posuere lectus fringilla eget.</p>
</body>
</html>