<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${lingua.title}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/jquery-ui-1.8.20.custom.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="${viewer}/stylesheets/base.css" />
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/html5-min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.20.custom.min.js"></script>
    {{if debugJS}}{{partial "debug"}}{{else}}
    <script type="text/javascript" src="/javascripts/qba.min.js"></script>
    {{/if}}
    <script type="text/javascript" src="${viewer}/javascripts/dv-core.js"></script>
    {{if templates}}
    <script type="text/plain" id="step1Tpl">{{html templates[0]}}</script>
    <script type="text/plain" id="step2Tpl">{{html templates[1]}}</script>
    <script type="text/plain" id="step3Tpl">{{html templates[2]}}</script>
    <script type="text/plain" id="step4Tpl">{{html templates[3]}}</script>
    <script type="text/plain" id="step5Tpl">{{html templates[4]}}</script>
    {{/if}}
    <script type="text/plain" id="schema">{{html schemaJSON}}</script>
    <script type="text/javascript">
        $(document).ready(function () {
            QBA.lingua = {{html linguaJSON}};
            QBA.views.jQueryUI();
            $(".step").removeClass("hidden");
            $(document.body).addClass("js").removeClass("no-js");
            QBA.events.navigation();
            QBA.events.step1.bind();
            QBA.preview.init("${viewer}", ${previewLimit});
            QBA.filters.init({{html languagesFilter}});
            QBA.models.loadSchema();
        });
    </script>
</head>
<body class="no-js">
<div id="page">
    <h1>${lingua.title}</h1>
    <form action="/form" method="get" class="tabable">
        <nav class="js">
            <ol>
                <li class="tab"><a id="ls1" href="#step1">${lingua.tabs.s1}</a></li>
                <li class="tab"><a id="ls2" href="#step2-wrapper">${lingua.tabs.s2}</a></li>
                <li class="tab"><a id="ls5" href="#step5">${lingua.tabs.s5}</a></li>
            </ol>
        </nav>

        <section id="step1" class="step ${steps.s1}">
            {{partial(schema) "s1choose"}}
        </section>

        <section id="step2-wrapper" class="step ${steps.s2} js">
            <div id="step2">
                {{partial(schema) "s2choose"}}
            </div>

            <div id="steps3and4" class="hidden">
                <ol class="hidden">
                    <li class="tab"><a id="ls3" href="#step3"></a></li>
                    <li class="tab"><a id="ls4" href="#step4"></a></li>
                </ol>

                <section id="step3" class="step ${steps.s3} js">
                    {{partial(schema) "s3join"}}
                </section>

                <section id="step4" class="step ${steps.s4} js">
                    {{partial(schema) "s4filter"}}
                </section>
            </div>
        </section>

        <section id="step5" class="step ${steps.s5} js">
            {{partial(schema) "s5paint"}}
        </section>
    </form>
    <section id="preview">
        <div id="viewport"></div>
        <pre id="debug"><code class="language-sparql" id="query"></code></pre>
    </section>
</div>
</body>
</html>