<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Query Builder Assistant</title>
<!--     <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'> -->
    <link href='/stylesheets/jquery-ui-1.8.18.custom.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/html5-min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
    {{if debugJS}}{{partial "debug"}}{{else}}
    <script type="text/javascript" src="/javascripts/qba.min.js"></script>
    {{/if}}
    {{if templates}}
    <script type="text/plain" id="step1Tpl">{{html templates[0]}}</script>
    <script type="text/plain" id="step2Tpl">{{html templates[1]}}</script>
    <script type="text/plain" id="step3Tpl">{{html templates[2]}}</script>
    <script type="text/plain" id="step4Tpl">{{html templates[3]}}</script>
    {{/if}}
    <script type="text/plain" id="schema">{{html schemaJSON}}</script>
    <script type="text/javascript">
        $(document).ready(function () {
            QBA.views.jQueryUI();
            $(".step").removeClass("hidden");
            $(document.body).addClass("js").removeClass("no-js");
            QBA.events.navigation();
            QBA.events.step1.bind();
            QBA.models.loadSchema();
        });
    </script>
</head>
<body class="no-js">
<div id="page">
    <h1>Query Builder Assistant</h1>
    <form action="/form" method="get" class="tabable">
        <nav class="js">
            <ol>
                <li class="tab"><a href="#step1">Step 1</a></li>
                <li class="tab"><a href="#step2">Step 2</a></li>
                <li class="tab"><a href="#step3">Step 3</a></li>
                <li class="tab"><a href="#step4">Step 4</a></li>
            </ol>
        </nav>

        <section id="step1" class="step ${steps.s1}">
            {{partial(schema) "s1choose"}}
            <input type="submit" class="no-js" name="s1_next" value="Next"/>
        </section>

        <section id="step2" class="step ${steps.s2}">
            {{partial(schema) "s2join"}}
            <input type="submit" class="no-js" name="s2_prev" value="Previous"/>
            <input type="submit" class="no-js" name="s2_next" value="Next"/>
        </section>

        <section id="step3" class="step ${steps.s3}">
            {{partial(schema) "s3filter"}}
            <input type="submit" class="no-js" name="s3_prev" value="Previous"/>
            <input type="submit" class="no-js" name="s3_next" value="Next"/>
        </section>

        <section id="step4" class="step ${steps.s4}">
            {{partial(schema) "s4paint"}}
            <input type="submit" class="no-js" name="s4_prev" value="Previous"/>
            <input type="submit" name="done" value="Done"/>
        </section>
    </form>
    <section id="preview">{{partial "preview"}}</section>
</div>
</body>
</html>