<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Query Builder Assistant</title>
<!--     <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'> -->
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/html5-min.js"></script>
    <![endif]-->
    {{if debugJS}}{{partial "debug"}}{{else}}
    <script type="text/javascript" src="/javascripts/qba.min.js"></script>
    {{/if}}
    {{if templates}}
    <script type="text/plain" id="step2Tpl">{{html templates[0]}}</script>
    <script type="text/plain" id="step3Tpl">{{html templates[1]}}</script>
    <script type="text/plain" id="step4Tpl">{{html templates[2]}}</script>
    {{/if}}
</head>
<body>
<div id="page">
    <h1>Query Builder Assistant</h1>
    <nav id="tabs">
        <ol>
            <li class="tab"><a href="/" id="step1Tab">Step 1</a></li>
            <li class="tab"><a href="/step2" id="step2Tab">Step 2</a></li>
            <li class="tab"><a href="/step3" id="step3Tab">Step 3</a></li>
            <li class="tab"><a href="/step4" id="step4Tab">Step 4</a></li>
        </ol>
    </nav>
    <div id="content">{{partial "s1choose"}}</div>
    <a href="" id="prev" class="button">Previous</a><a href="" id="next" class="button">Next</a>
    <div id="preview">{{partial "preview"}}</div>
</div>
</body>
</html>