<p style="color: blue;">Suspendisse nec est augue, a sagittis velit. Duis
faucibus imperdiet tincidunt. Vestibulum bibendum molestie velit, at auctor
sapien bibendum at. Morbi vitae nibh at elit viverra rutrum nec eu dui. Nam
purus nisl, rhoncus quis auctor lobortis, semper nec augue. Donec placerat
semper convallis. In venenatis diam nec lacus pellentesque egestas. Nunc at
tempor nisi. Nulla pretium urna nec risus tincidunt blandit. Phasellus cursus
molestie elementum. Ut leo eros, commodo et dictum id, semper eget est.
Curabitur malesuada, nulla vitae congue convallis, eros est volutpat quam, sed
semper ligula est sed arcu. Fusce sit amet tortor lacus. Sed et dui a nulla
luctus euismod.</p>
<p>Preview chart: ${chart}</p>