<fieldset class="choose">
    <legend>${lingua.step1.title}</legend>
    <div class="categories accordionable">
        {{each(idx_cat, category) categories}}
        <h3><a href="#" class="category_name">${category.name}</a></h3>
        <div><ul class="category">
            {{each(idx_col, collection) category.collections}}
            <li>
                <input type="checkbox" name="collection${idx_cat}-${idx_col}" {{if collection.checked}}checked="true"{{/if}}/>
                <label for="collection${idx_cat}-${idx_col}">${collection.name}</label>
            </li>
            {{/each}}
        </ul></div>
        {{/each}}
    </div>
    <div>
        <input class="float" type="submit" name="nextS1" value="${lingua.next}" />
    </div>
</fieldset>