<fieldset class="collection">
    <legend>${lingua.step2.title}</legend>
    <p class="hint"><span class="ui-icon ui-icon-info inline"></span>${lingua.step2.hint}</p>
    <div class="collections accordionable">
        {{each(idx_cat, category) categories}}
        {{each(idx_col, collection) category.collections}}
        <h3><a href="#" class="collection_name">${collection.name}</a></h3>
        <div><ul class="collection">
            {{each(idx_fie, field) collection.fields}}
            <li>
                <input type="checkbox" id="field${idx_cat}-${idx_col}-${idx_fie}" name="field${idx_cat}-${idx_col}-${idx_fie}" {{if field.checked}}checked="true"{{/if}}/>
                <label for="field${idx_cat}-${idx_col}-${idx_fie}">${field.name}</label>
                {{if field.type == "uri"}}
                <span class="ui-icon ui-icon-link inline" title="${lingua.step2.uri}"></span>
                {{/if}}
            </li>
            {{/each}}
        </ul></div>
        {{/each}}
        {{/each}}
    </div>
    <div class="buttons">
        <button id="advanced" class="js float">${lingua.step2.advanced}</button>
        <button id="hideadvanced" class="js float hidden">${lingua.step2.hideadvanced}</button>
    </div>
</fieldset>