<fieldset class="collection">
    <legend>${lingua.step2.title}</legend>
    <p class="hint"><span class="ui-icon ui-icon-info inline"></span>${lingua.step2.hint}</p>
    <p class="empty hidden ui-state-error ui-corner-all"><span class="ui-icon ui-icon-alert inline"></span>${lingua.step2.empty}</p>
    <div class="collections accordionable">
        {{each(idx_cat, category) categories}}
        {{each(idx_col, collection) category.collections}}
        <h3><a href="#" class="collection_name">${collection.name}</a></h3>
        <div><ul class="collection">
            {{each(idx_fie, field) collection.fields}}
            <li>
                <input type="checkbox" id="field${idx_cat}-${idx_col}-${idx_fie}" name="field${idx_cat}-${idx_col}-${idx_fie}" {{if field.checked}}checked="true"{{/if}}/>
                <label for="field${idx_cat}-${idx_col}-${idx_fie}" {{if field.type == "uri"}}title="${lingua.step2.uri}" class="highlight"{{/if}}>${field.name}</label>
                {{if field.type == "uri"}}
                <span class="ui-icon ui-icon-link inline" title="${lingua.step2.uri}"></span>
                {{/if}}
            </li>
            {{/each}}
        </ul></div>
        {{/each}}
        {{/each}}
    </div>
    <div class="no-js buttons">
        <input class="float" type="submit" name="prevS2" value="&lt;&lt; ${lingua.previous}" />
        <input class="float" type="submit" name="preview" value="${lingua.genPreview}" />
        <input class="floatr" type="submit" name="nextS2" value="${lingua.next} &gt;&gt;" />
    </div>
</fieldset>