<fieldset class="collection">
    <legend>${lingua.step2.title}</legend>
    <div class="collections accordionable">
        {{each(idx_cat, category) categories}}
        {{each(idx_col, collection) category.collections}}
        <h3><a href="#" class="collection_name">${collection.name}</a></h3>
        <div><ul class="collection">
            {{each(idx_fie, field) collection.fields}}
            <li>
                <input type="checkbox" id="field${idx_cat}-${idx_col}-${idx_fie}" name="field${idx_cat}-${idx_col}-${idx_fie}" {{if field.checked}}checked="true"{{/if}}/>
                <label for="field${idx_cat}-${idx_col}-${idx_fie}">${field.name}</label>
                {{if field.type == "uri"}}
                <span class="ui-icon ui-icon-link inline"></span>
                {{/if}}
            </li>
            {{/each}}
        </ul></div>
        {{/each}}
        {{/each}}
    </div>

    <div>
        <input class="float" type="submit" name="prevS2" value="&lt;&lt; ${lingua.previous}" />
        <input class="float" type="submit" name="preview" value="${lingua.genPreview}" />
        <input class="float" type="submit" name="nextS2" value="${lingua.step2.showChart}" />
        <input class="floatr" type="submit" name="done" value="${lingua.step4.view}" />
    </div>
</fieldset>