<fieldset class="filter">
    <legend>Filter the collections contents</legend>
    <div id="filters"></div>
    <input type="submit" class="no-js" value="Add filter" />
    <label for="add_filter_field" class="js">Add filter for: </label>
    <select name="add_filter_field" id="addFilterField">
        <option value="false"></option>
        {{each(idx_cat, category) categories}}
        {{each(idx_col, collection) category.collections}}
        <optgroup label="${collection.name}">
            {{each(idx_fie, field) collection.fields}}
            <option value="${idx_cat}-${idx_col}-${idx_fie}" {{if !field.filters}}disabled="true"{{/if}}>${field.name}</option>
            {{/each}}
        </optgroup>
        {{/each}}
        {{/each}}
    </select>
</fieldset>