<fieldset class="filter">
    <legend>Filter the collections contents</legend>
    <div class="collections accordionable">
        {{each(idx_cat, category) categories}}
        {{each(idx_col, collection) category.collections}}
        <h3><a href="#" class="collection_name">${collection.name}</a></h3>
        <div><ul class="collection">
            {{each(idx_fie, field) collection.fields}}
            <li>
                <label for="field${idx_cat}${idx_col}${idx_fie}">${field}</label>
                <input type="checkbox" name="field${idx_cat}${idx_col}${idx_fie}"/>
            </li>
            {{/each}}
        </ul></div>
        {{/each}}
        {{/each}}
    </div>
</fieldset>