<fieldset class="join">
    <legend>Join selected collections</legend>
    <div id="joins"></div>
    <input type="submit" class="no-js" value="Join collection" />
    <label for="add_join_field" class="js">Join collection: </label>
    <select name="add_join_field" id="addJoinField">
        <option value="false"></option>
        {{each(idx_cat, category) categories}}
        {{each(idx_col, collection) category.collections}}
        <optgroup label="${collection.name}">
            {{each(idx_fie, field) collection.fields}}
            <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
            {{/each}}
        </optgroup>
        {{/each}}
        {{/each}}
    </select>
    <div>
        <input class="float" type="submit" name="prevS3" value="Previous" />
        <input class="float" type="submit" name="nextS3" value="Next" />
    </div>
</fieldset>