<fieldset class="chart">
    <legend>${lingua.step5.title}</legend>
    <div class="half-width float">
        <h3>${lingua.step5.type}</h3>
        <ul>
            <li><input type="radio" name="chart_type" value="bar" checked="true" />${lingua.step5.bar}</li>
            <li><input type="radio" name="chart_type" value="line" />${lingua.step5.line}</li>
            <li><input type="radio" name="chart_type" value="pie" />${lingua.step5.pie}</li>
            <li><input type="radio" name="chart_type" value="timeline" />${lingua.step5.timeline}</li>
            <li><input type="radio" name="chart_type" value="map" />${lingua.step5.map}</li>
            <li><input type="radio" name="chart_type" value="mapea" />${lingua.step5.mapea}</li>
        </ul>
    </div>
    <div class="half-width float">
        <h3>Parameters</h3>
        <div id="barParams" class="paramsContainer">
            <div class="parameter">
                <label for="bar-labels-param">labels</label>:
                <select name="bar-labels-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="bar-series-param">series</label>:
                <select name="bar-series-param" multiple size=4 class="wide-field required">
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="bar-sizeX-param">sizeX</label>: <input type="number" name="bar-sizeX-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="bar-sizeY-param">sizeY</label>: <input type="number" name="bar-sizeY-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="bar-sizeLabel-param">sizeLabel</label>: <input type="number" name="bar-sizeLabel-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="bar-landscape-param">landscape</label>: <input type="checkbox" name="bar-landscape-param" />
            </div>
        </div>
        <div id="lineParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="line-labels-param">labels</label>:
                <select name="line-labels-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="line-series-param">series</label>:
                <select name="line-series-param" multiple size=4 class="wide-field required">
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="line-sizeX-param">sizeX</label>: <input type="number" name="line-sizeX-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="line-sizeY-param">sizeY</label>: <input type="number" name="line-sizeY-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="line-sizeLabel-param">sizeLabel</label>: <input type="number" name="line-sizeLabel-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="line-area-param">area</label>: <input type="checkbox" name="line-area-param"/>
            </div>
        </div>
        <div id="pieParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="pie-labels-param">labels</label>:
                <select name="pie-labels-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="pie-series-param">series</label>:
                <select name="pie-series-param" multiple size=4 class="wide-field required">
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="pie-sizeX-param">sizeX</label>: <input type="number" name="pie-sizeX-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="pie-sizeY-param">sizeY</label>: <input type="number" name="pie-sizeY-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="pie-sizeLabel-param">sizeLabel</label>: <input type="number" name="pie-sizeLabel-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="pie-sizeHighlight-param">sizeHighlight</label>: <input type="number" name="pie-sizeHighlight-param" class="narrow-field" />
            </div>
        </div>
        <div id="timelineParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="timeline-title-param">title</label>:
                <select name="timeline-title-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-start-param">start</label>:
                <select name="timeline-start-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-end-param">end</label>:
                <select name="timeline-end-param" class="wide-field">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-description-param">description</label>:
                <select name="timeline-description-param" class="wide-field">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-sizeX-param">sizeX</label>: <input type="number" name="timeline-sizeX-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="timeline-sizeY-param">sizeY</label>: <input type="number" name="timeline-sizeY-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="timeline-detailRes-param">detailRes</label>: <select name="timeline-detailRes-param">
                    <option value=""></option>
                    <option value="millisecond">Millisecond</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="decade">Decade</option>
                    <option value="century">Century</option>
                    <option value="millennium">Millennium</option>
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-overviewRes-param">overviewRes</label>: <select name="timeline-overviewRes-param">
                    <option value=""></option>
                    <option value="millisecond">Millisecond</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="decade">Decade</option>
                    <option value="century">Century</option>
                    <option value="millennium">Millennium</option>
                </select>
            </div>
        </div>
        <div id="mapParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="map-lat-param">lat</label>:
                <select name="map-lat-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="map-long-param">long</label>:
                <select name="map-long-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="map-description-param">description</label>: <input type="text" name="map-description-param" class="wide-field" />
            </div>
            <div class="parameter">
                <label for="map-sizeX-param">sizeX</label>: <input type="number" name="map-sizeX-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="map-sizeY-param">sizeY</label>: <input type="number" name="map-sizeY-param" class="narrow-field" />
            </div>
        </div>
        <div id="mapeaParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="mapea-lat-param">lat</label>:
                <select name="mapea-lat-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="mapea-long-param">long</label>:
                <select name="mapea-long-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="mapea-description-param">description</label>: <input type="text" name="mapea-description-param" class="wide-field" />
            </div>
            <div class="parameter">
                <label for="mapea-sizeX-param">sizeX</label>: <input type="number" name="mapea-sizeX-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="mapea-sizeY-param">sizeY</label>: <input type="number" name="mapea-sizeY-param" class="narrow-field" />
            </div>
        </div>
    </div>
    <div>
        <input class="float" type="submit" name="prevS5" value="${lingua.previous}" />
        <input class="floatr" type="submit" name="done-chart" value="View Chart and Data" />
    </div>
</fieldset>