<fieldset class="chart">
    <legend>${lingua.step5.title}</legend>
    <p class="hint"><span class="ui-icon ui-icon-info inline"></span>${lingua.step5.hint}</p>
    <p class="empty hidden ui-state-error ui-corner-all"><span class="ui-icon ui-icon-alert inline"></span>${lingua.step5.empty}</p>
    <div id="chartType" class="float">
        <h3>${lingua.step5.type}</h3>
        <ul>
            <li class="active"><input type="radio" id="bar_chart" class="no-js" name="chart_type" value="bar" checked="true" /><label for="bar_chart">${lingua.step5.bar}</label></li>
            <li><input type="radio" id="line_chart" class="no-js" name="chart_type" value="line" /><label for="line_chart">${lingua.step5.line}</label></li>
            <li><input type="radio" id="pie_chart" class="no-js" name="chart_type" value="pie" /><label for="pie_chart">${lingua.step5.pie}</label></li>
            <li><input type="radio" id="timeline_chart" class="no-js" name="chart_type" value="timeline" /><label for="timeline_chart">${lingua.step5.timeline}</label></li>
            <li><input type="radio" id="map_chart" class="no-js" name="chart_type" value="map" /><label for="map_chart">${lingua.step5.map}</label></li>
            <li><input type="radio" id="mapea_chart" class="no-js" name="chart_type" value="mapea" /><label for="mapea_chart">${lingua.step5.mapea}</label></li>
        </ul>
    </div>
    <div id="chartParams" class="float">
        <h3>${lingua.step5.params}</h3>
        <div id="barParams" class="paramsContainer">
            <div class="parameter">
                <label for="bar-labels-param"><span class="required">*</span> ${lingua.step5.labels}:</label>
                <select name="bar-labels-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="bar-series-param"><span class="required">*</span> ${lingua.step5.series}:</label>
                <select name="bar-series-param" multiple size=4 class="wide-field required">
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "number"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <div id="bar-size-param" class="inline margin-right-40">
                    <label>${lingua.step5.size}:</label>
                    <button id="bar-size-small" class="gorql-icon" title="${lingua.step5.small}" /></button><button id="bar-size-medium" class="gorql-icon ui-state-active" title="${lingua.step5.medium}" /></button><button id="bar-size-large" class="gorql-icon" title="${lingua.step5.large}" /></button>
                </div>
                <div id="bar-landscape-param" class="inline">
                    <label>${lingua.step5.landscape}:</label>
                    <button id="bar-landscape-portrait" class="gorql-icon ui-state-active" title="${lingua.step5.vertical}" /></button><button id="bar-landscape-landscape" class="gorql-icon" title="${lingua.step5.horizontal}" /></button>
                </div>
            </div>
            <div class="parameter">
                <label for="bar-sizeLabel-param">${lingua.step5.sizeLabel}:</label> <input type="number" name="bar-sizeLabel-param" class="narrow-field" />
            </div>
        </div>
        <div id="lineParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="line-labels-param"><span class="required">*</span> ${lingua.step5.labels}:</label>
                <select name="line-labels-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="line-series-param"><span class="required">*</span> ${lingua.step5.series}:</label>
                <select name="line-series-param" multiple size=4 class="wide-field required">
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "number"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label>${lingua.step5.size}:</label>
                <div id="line-size-param" >
                    <button id="line-size-small" class="gorql-icon" title="${lingua.step5.small}" /></button><button id="line-size-medium" class="gorql-icon ui-state-active" title="${lingua.step5.medium}" /></button><button id="line-size-large" class="gorql-icon" title="${lingua.step5.large}" /></button>
                </div>
            </div>
            <div class="parameter">
                <label for="line-sizeLabel-param">${lingua.step5.sizeLabel}:</label> <input type="number" name="line-sizeLabel-param" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="line-area-param">${lingua.step5.area}:</label> <input type="checkbox" id="line-area-param" name="line-area-param"/>
            </div>
        </div>
        <div id="pieParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="pie-labels-param"><span class="required">*</span> ${lingua.step5.labels}:</label>
                <select name="pie-labels-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="pie-series-param"><span class="required">*</span> ${lingua.step5.series}:</label>
                <select name="pie-series-param" multiple size=4 class="wide-field required">
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "number"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <div id="pie-size-param" class="inline margin-right-40">
                    <label>${lingua.step5.size}:</label>
                    <button id="pie-size-small" class="gorql-icon" title="${lingua.step5.small}" /></button><button id="pie-size-medium" class="gorql-icon ui-state-active" title="${lingua.step5.medium}" /></button><button id="pie-size-large" class="gorql-icon" title="${lingua.step5.large}" /></button>
                </div>
                <div id="pie-sizeHighlight-param" class="inline">
                    <label>${lingua.step5.sizeHighlight}:</label>
                    <button id="pie-sizeHighlight-hlsmall" class="gorql-icon" title="${lingua.step5.hlsmall}" /></button><button id="pie-sizeHighlight-hlmedium" class="gorql-icon ui-state-active" title="${lingua.step5.hlmedium}" /></button><button id="pie-sizeHighlight-hllarge" class="gorql-icon" title="${lingua.step5.hllarge}" /></button>
                </div>
            </div>
            <div class="parameter">
                <label for="pie-sizeLabel-param">${lingua.step5.sizeLabel}:</label> <input type="number" name="pie-sizeLabel-param" class="narrow-field" />
            </div>
        </div>
        <div id="timelineParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="timeline-title-param"><span class="required">*</span> ${lingua.step5.evtTitle}:</label>
                <select name="timeline-title-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-start-param"><span class="required">*</span> ${lingua.step5.start}:</label>
                <select name="timeline-start-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "date"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-end-param">${lingua.step5.end}:</label>
                <select name="timeline-end-param" class="wide-field">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "date"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-description-param">${lingua.step5.description}:</label>
                <select name="timeline-description-param" class="wide-field">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label>${lingua.step5.size}:</label>
                <div id="timeline-size-param" >
                    <button id="timeline-size-small" class="gorql-icon" title="${lingua.step5.small}" /></button><button id="timeline-size-medium" class="gorql-icon ui-state-active" title="${lingua.step5.medium}" /></button><button id="timeline-size-large" class="gorql-icon" title="${lingua.step5.large}" /></button>
                </div>
            </div>
            <div class="parameter">
                <label for="timeline-detailRes-param">${lingua.step5.detailRes}:</label> <select name="timeline-detailRes-param">
                    <option value=""></option>
                    <option value="millisecond">Millisecond</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="decade">Decade</option>
                    <option value="century">Century</option>
                    <option value="millennium">Millennium</option>
                </select>
            </div>
            <div class="parameter">
                <label for="timeline-overviewRes-param">${lingua.step5.overviewRes}:</label> <select name="timeline-overviewRes-param">
                    <option value=""></option>
                    <option value="millisecond">Millisecond</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="decade">Decade</option>
                    <option value="century">Century</option>
                    <option value="millennium">Millennium</option>
                </select>
            </div>
        </div>
        <div id="mapParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="map-lat-param"><span class="required">*</span> ${lingua.step5.lat}:</label>
                <select name="map-lat-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "coord"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="map-long-param"><span class="required">*</span> ${lingua.step5.long}:</label>
                <select name="map-long-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "coord"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="map-description-param">${lingua.step5.description}:</label>
                <select name="map-description-param" class="wide-field">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label>${lingua.step5.size}:</label>
                <div id="map-size-param" >
                    <button id="map-size-small" class="gorql-icon" title="${lingua.step5.small}" /></button><button id="map-size-medium" class="gorql-icon ui-state-active" title="${lingua.step5.medium}" /></button><button id="map-size-large" class="gorql-icon" title="${lingua.step5.large}" /></button>
                </div>
            </div>
        </div>
        <div id="mapeaParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="mapea-lat-param"><span class="required">*</span> ${lingua.step5.lat}:</label>
                <select name="mapea-lat-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "coord"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="mapea-long-param"><span class="required">*</span> ${lingua.step5.long}:</label>
                <select name="mapea-long-param" class="wide-field required">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        {{if field.type == "coord"}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/if}}
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label for="mapea-description-param">${lingua.step5.description}:</label>
                <select name="mapea-description-param" class="wide-field">
                    <option value=""></option>
                    {{each(idx_cat, category) categories}}
                    {{each(idx_col, collection) category.collections}}
                    <optgroup label="${collection.name}">
                        {{each(idx_fie, field) collection.fields}}
                        <option value="${idx_cat}-${idx_col}-${idx_fie}">${field.name}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="parameter">
                <label>${lingua.step5.size}:</label>
                <div id="mapea-size-param" >
                    <button id="mapea-size-small" class="gorql-icon" title="${lingua.step5.small}" /></button><button id="mapea-size-medium" class="gorql-icon ui-state-active" title="${lingua.step5.medium}" /></button><button id="mapea-size-large" class="gorql-icon" title="${lingua.step5.large}" /></button>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons clear">
        <input class="float no-js" type="submit" name="prevS5" value="&lt;&lt; ${lingua.previous}" />
        <button id="prevS5" class="float js no-margin-left">${lingua.previous}</button>
        <input class="float no-js" type="submit" name="preview" value="${lingua.genPreview}" />
        <input class="floatr black-border ui-corner-all" type="submit" name="done-chart" value="${lingua.step5.view}" />
    </div>
</fieldset>