<fieldset class="chart">
    <legend>Visualize the results</legend>
    <div class="half-width inline">
        <h3>Chart type</h3>
        <ul>
            <li><input type="radio" name="chart_type" value="bar" checked="true" />Bars</li>
            <li><input type="radio" name="chart_type" value="line" />Lines</li>
            <li><input type="radio" name="chart_type" value="pie" />Sectors (Pie)</li>
            <li><input type="radio" name="chart_type" value="timeline" />Timeline</li>
            <li><input type="radio" name="chart_type" value="map" />Open Street Maps</li>
            <li><input type="radio" name="chart_type" value="mapea" />Mapea</li>
        </ul>
    </div>
    <div class="half-width inline">
        <h3>Parameters</h3>
        <div id="barParams" class="paramsContainer">
            <div class="parameter">
                <label for="barLabelsParam">labels</label>: <input type="text" name="barLabelsParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="barSeriesParam">series</label>: <input type="text" name="barSeriesParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="barSizeXParam">sizeX</label>: <input type="number" name="barSizeXParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="barSizeYParam">sizeY</label>: <input type="number" name="barSizeYParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="barSizeLabelParam">sizeLabel</label>: <input type="number" name="barSizeLabelParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="barLandscapeParam">landscape</label>: <input type="checkbox" name="barLandscapeParam" />
            </div>
        </div>
        <div id="lineParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="lineLabelsParam">labels</label>: <input type="text" name="lineLabelsParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="lineSeriesParam">series</label>: <input type="text" name="lineSeriesParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="lineSizeXParam">sizeX</label>: <input type="number" name="lineSizeXParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="lineSizeYParam">sizeY</label>: <input type="number" name="lineSizeYParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="lineSizeLabelParam">sizeLabel</label>: <input type="number" name="lineSizeLabelParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="lineAreaParam">area</label>: <input type="checkbox" name="lineAreaParam"/>
            </div>
        </div>
        <div id="pieParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="pieLabelsParam">labels</label>: <input type="text" name="pieLabelsParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="pieSeriesParam">series</label>: <input type="text" name="pieSeriesParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="pieSizeXParam">sizeX</label>: <input type="number" name="pieSizeXParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="pieSizeYParam">sizeY</label>: <input type="number" name="pieSizeYParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="pieSizeLabelParam">sizeLabel</label>: <input type="number" name="pieSizeLabelParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="pieSizeHighlightParam">sizeHighlight</label>: <input type="number" name="pieSizeHighlightParam" class="narrow-field" />
            </div>
        </div>
        <div id="timelineParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="timelineTitleParam">title</label>: <input type="text" name="timelineTitleParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="timelineStartParam">start</label>: <input type="text" name="timelineStartParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="timelineEndParam">end</label>: <input type="text" name="timelineEndParam" class="wide-field" />
            </div>
            <div class="parameter">
                <label for="timelineDescriptionParam">description</label>: <input type="text" name="timelineDescriptionParam" class="wide-field" />
            </div>
            <div class="parameter">
                <label for="timelineSizeXParam">sizeX</label>: <input type="number" name="timelineSizeXParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="timelineSizeYParam">sizeY</label>: <input type="number" name="timelineSizeYParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="timelineDetailResParam">detailRes</label>: <select name="timelineDetailResParam">
                    <option value="millisecond">Millisecond</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="decade">Decade</option>
                    <option value="century">Century</option>
                    <option value="millennium">Millennium</option>
                </select>
            </div>
            <div class="parameter">
                <label for="timelineOverviewResParam">overviewRes</label>: <select name="timelineOverviewResParam">
                    <option value="millisecond">Millisecond</option>
                    <option value="second">Second</option>
                    <option value="minute">Minute</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="decade">Decade</option>
                    <option value="century">Century</option>
                    <option value="millennium">Millennium</option>
                </select>
            </div>
        </div>
        <div id="mapParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="mapLatParam">lat</label>: <input type="text" name="mapLat" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="mapLongParam">long</label>: <input type="text" name="mapLongParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="mapDescriptionParam">description</label>: <input type="text" name="mapDescriptionParam" class="wide-field" />
            </div>
            <div class="parameter">
                <label for="mapSizeXParam">sizeX</label>: <input type="number" name="mapSizeXParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="mapSizeYParam">sizeY</label>: <input type="number" name="mapSizeYParam" class="narrow-field" />
            </div>
        </div>
        <div id="mapeaParams" class="paramsContainer" style="display: none;">
            <div class="parameter">
                <label for="mapeaLatParam">lat</label>: <input type="text" name="mapeaLat" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="mapeaLongParam">long</label>: <input type="text" name="mapeaLongParam" class="wide-field required" />
            </div>
            <div class="parameter">
                <label for="mapeaDescriptionParam">description</label>: <input type="text" name="mapeaDescriptionParam" class="wide-field" />
            </div>
            <div class="parameter">
                <label for="mapeaSizeXParam">sizeX</label>: <input type="number" name="mapeaSizeXParam" class="narrow-field" />
            </div>
            <div class="parameter">
                <label for="mapeaSizeYParam">sizeY</label>: <input type="number" name="mapeaSizeYParam" class="narrow-field" />
            </div>
        </div>
    </div>
</fieldset>