body {
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Droid Serif', serif;
}

#header {
    position: relative;
    margin-bottom: 10px;
}

#header h1 {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
}

#footer {
    margin-top: 10px;
}

#footer img {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 74px;
    height: 22px;
}

#page {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#preview {
    padding: 10px 1.95em 0 1.95em;
    border: 1px solid #D1D1D1;
    border-top: 0px;
}

#preview #query {
    white-space: pre-wrap;
}

#preview #viewport {
    clear: both;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 20px;
    margin-bottom: 20px;
}

#preview #viewport span.error {
    color: red;
}

#refreshPreview {
    padding: 6px 10px 6px 10px;
    font-size: 0.85em;
}

.preview-tab {
    position: relative;
}

.preview-tab div {
    position: absolute;
    left: 50%;
}

.preview-tab div div {
    width: 30px;
    height: 26px;
    position: relative;
    left: -50%;
    display: inline-block;
    background: transparent url(../images/tab-left.png) 50% 50% repeat-x;
    margin: 0;
    border: 0;
    vertical-align: top;
}

.preview-tab div div.right {
    background: transparent url(../images/tab-right.png) 50% 50% repeat-x;
}

#openPreview,
#closePreview {
    position: relative;
    left: -50%;
    height: 25px;
    margin: 0;
    border: 0;
    font-size: 0.85em;
    border-bottom: 1px solid #D1D1D1;
    background: #E0E0E0 url(images/ui-bg_highlight-soft_50_e0e0e0_1x100.png) 50% 50% repeat-x;
    vertical-align: top;

    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -khtml-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#openPreview span.ui-button-text,
#closePreview span.ui-button-text {
    padding: 2px 5px 0px 30px
}

#openPreview:hover,
#closePreview:hover,
#openPreview span.ui-button-text:hover,
#closePreview span.ui-button-text:hover {
    color: #005CBF !important;
}

#openPreview.ui-state-hover span.ui-icon,
#closePreview.ui-state-hover span.ui-icon,
#openPreview span.ui-icon:hover,
#closePreview span.ui-icon:hover {
    background-position: -64px -192px;
    background-image: url(images/ui-icons_00a8e5_256x240.png);
}

body.no-js .js,
body.js .no-js,
.hidden {
    display: none !important;
}

body.js ul.category,
body.js ul.collection {
    margin: 0px;
}

body.js div.join,
body.js div.filter {
    background-color: #f0f0f0;
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
    position: relative;
}

body.js div.join > .ui-icon-circle-close,
body.js div.filter > .ui-icon-circle-close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 40px;
}

body.js .ui-accordion-content {
    border-top: 1px solid #00A8E5;
}

body.js #step2-wrapper {
    padding-bottom: 60px;
}

body.js #step2-wrapper .buttons.lateral-padding {
    padding: 0px 12px 0px 12px;
}

body.js #steps3and4 {
    margin-top: 20px;
}

#joins, #filters {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

fieldset {
    border: none;
    margin: 0px;
}

fieldset legend {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    font-size: 1.1em;
}

.buttons {
    margin-top: 10px;
}

.inline {
    display: inline-block;
}

.float {
    float: left;
}

.floatr {
    float: right;
}

.narrow-field {
    max-width: 100px;
}

.wide-field {
    max-width: 300px,
}

.required {
    border: 1px solid #cc0000;
}

.clear {
    clear: both;
}


#step1 label,
#step2 label {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    cursor: pointer;
}

.ui-widget input[type=submit],
.ui-widget button {
    color: #005CBF;
    border: 1px solid #D1D1D1;
    background: #E0E0E0 url(images/ui-bg_highlight-soft_50_e0e0e0_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    font-size: 0.85em !important;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    margin-left: 10px;
    line-height: 1.4;
}

.ui-widget input[type=submit]:first-child,
.ui-widget button:first-child,
.no-margin-left {
    margin-left: 0px !important;
}

.ui-widget input[type=submit]:hover,
.ui-widget button:hover {
    border: 1px solid #037fda;
    background: #037fda url(images/ui-bg_highlight-soft_25_037fda_1x100.png) 50% 50% repeat-x;
    color: #ffffff;
}

.ui-widget input[type=submit]:active,
.ui-widget button:active {
    border: 1px solid #d1d1d1;
    background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    color: #00a8e5;
}

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
    padding: 0px 0px 0px 20px;
}

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
    padding: 0px 20px 0px 0px;
}

.hint {
    margin-top: 0px;
    color: #005CBF;
    font-style: italic;
    font-size: 0.8em;
}

.empty {
    padding: 10px;
    margin: 80px 30px 80px 30px;
}

.hint span.ui-icon,
.empty span.ui-icon {
    vertical-align: middle;
    margin-right: 5px;
}

#chartType {
    width: 260px;
}

#chartType ul {
    height: 330px;
    margin: 0px;
    padding-left: 0px;
    background-color: #E0E0E0;
    border-left: 2px solid #E0E0E0;
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
}

#chartType ul li {
    padding-left: 20px;
    cursor: pointer;
    color: #005CBF;
    font-weight: bold;
    height: 16.667%;
    position: relative;
}

#chartType ul li label {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
}

#chartType ul li.active {
    background-color: white;
    color: #00A8E5;
}

.paramsContainer {
    height: 318px;
    width: 590px;
    margin: 0px;
    padding: 2px 10px 10px 20px;
    border-right: 2px solid #E0E0E0;
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
    overflow: auto;
}

.paramsContainer label {
    display: block;
    margin-top: 8px;
}

#step5 .buttons {
    padding-top: 20px;
}

input[type=text],
input[type=password],
input[type=number],
textarea {
    border: 1px solid #AAA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15) inset;
    margin: 0 5px;
    padding: 2px;
    color: #444;
    height: 24px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number],
textarea:focus,
select:focus {
    border: 1px solid #037fda;
    -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2) inset;
}

select {
    margin: 0 5px;
    padding: 2px;
    color: #444;
    /* background */
    background: #ebf3f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebf3f7), to(#f5f8fa));
    background: -moz-linear-gradient(top,  #ebf3f7,  #f7fbfc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf3f7', endColorstr='#f5f8fa');
    border: 1px solid #AAA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

optgroup,
option {
    padding: 1px 3px 1px 3px;
}
