body {
    padding: 0px;
    margin: 0px;
}

#page {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#preview {
    margin-top: 10px;
}

#preview #query {
    white-space: pre-wrap;
}

#preview #viewport span.error {
    color: red;
}

body.no-js .js,
body.js .no-js,
.hidden {
    display: none;
}

body.js ul.category,
body.js ul.collection {
    margin: 0px;
}

body.js div.filter {
    border: solid 1px #DDD;
}

ul {
    list-style-type: none;
}

fieldset {
    border: none;
}

.buttons {
    margin-top: 10px;
}

.half-width {
    width: 49%;
}

.inline {
    display: inline-block;
}

.float {
    float: left;
}

.floatr {
    float: right;
}

.narrow-field {
    max-width: 100px;
}

.wide-field {
    max-width: 300px,
}

.required {
    border: 1px solid red;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    color: #005CBF;
}

.hint {
    margin-top: 0px;
    color: #005CBF;
    font-style: italic;
    font-size: 0.8em;
}

.hint span.ui-icon {
    vertical-align: bottom;
}



